<%- model_class = Period -%>
<%
today  = Date.today
first_day = (today.wday==3) ? today : today-(today.wday-3)
%>


<div class='period'>

  <div class="row period_title">
    <div class="week_title"><h2>Semana <%=today.cweek%></h2></div>
    <div class="period_button"><button type="button" class="btn btn-primary" style="margin-top:18px;">Capturar Jornada</button></div>
  </div>

<%(first_day..(first_day+6.days)).each do |day|%>

  <div class='day'>
    <div class='day_name'><%=(Rutas::Application.config.dias[day.wday]).html_safe%></div>
    <div class='shift_1 shift_1_complete'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'><%=(Rutas::Application.config.meses_abr[day.mon]).html_safe%> <%=day.mday%></div>
    </div>
    <div class='shift_2 shift_2_complete'>
      Shift 2
    </div>
  </div>
<%end%>

<div class='clearfix'></div>
<br /><br /><br />

<div class="page-header">
  <h1> Per&iacute;odos </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th> N&uacute;mero de per&iacute;odo </th>
      <th> Fecha inicial </th>
      <th> Fecha final </th>
      <th> Durac&iacute;on </th>
      <th> Estatus </th>
      <th> Nombre de archivo </th>
      <th> Total </th>
      <th> Total de di&eacute;sel </th>
      <th> Cuenta contable </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= link_to period.id, period_path(period) %></td>
        <td><%= period.period_number %></td>
        <td><%= period.beginning_date %></td>
        <td><%= period.end_date %></td>
        <td><%= period.duration %></td>
        <td><%= period.status %></td>
        <td><%= period.file_name %></td>
        <td><%= period.total %></td>
        <td><%= period.diesel_total %></td>
        <td><%= period.ledger_account %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_period_path(period), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      period_path(period),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Seguro que desea eliminarlo permanentemente de la base de datos?')) },
                      :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_period_path,
            :class => 'btn btn-default btn-primary' %>
