<%- model_class = Period -%>

<div class='period'>
  <h2>Semana 32</h2>
  <div class='day'>
    <div class='day_name'>Mi&eacute;rcoles</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>

  <div class='day'>
    <div class='day_name'>Jueves</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>

  <div class='day'>
    <div class='day_name'>Viernes</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>

  <div class='day'>
    <div class='day_name'>S&aacute;bado</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>

  <div class='day'>
    <div class='day_name'>Domingo</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>

  <div class='day'>
    <div class='day_name'>Lunes</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>

  <div class='day'>
    <div class='day_name'>Martes</div>
    <div class='shift_1'>
      Shift 1
    </div>
    <div class='month_day'>
      <div class='month_day_text'>Oct 27</div>
    </div>
    <div class='shift_2'>
      Shift 2
    </div>
  </div>
</div>

<div class='clearfix'></div>
<br /><br /><br />

<table width='100%'>
  <tr>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 style='width:30px'><div class='table_month_day_text'>Oct 27</div></td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 class='table_month_day_text'>Oct 27</td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 class='table_month_day_text'>Oct 27</td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 class='table_month_day_text'>Oct 27</td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 class='table_month_day_text'>Oct 27</td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 class='table_month_day_text'>Oct 27</td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
    <td>
      <table class='table_day'>
        <tr>
          <td colspan=2>Miercoles</td>
        </tr>
        <tr>
          <td class='shift'>turno 1</td>
          <td rowspan=2 class='table_month_day_text'>Oct 27</td>
        </tr>
        <tr>
          <td class='shift'>turno 2</td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<div class="page-header">
  <h1> Per&iacute;odos </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th> N&uacute;mero de per&iacute;odo </th>
      <th> Fecha inicial </th>
      <th> Fecha final </th>
      <th> Durac&iacute;on </th>
      <th> Estatus </th>
      <th> Nombre de archivo </th>
      <th> Total </th>
      <th> Total de di&eacute;sel </th>
      <th> Cuenta contable </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= link_to period.id, period_path(period) %></td>
        <td><%= period.period_number %></td>
        <td><%= period.beginning_date %></td>
        <td><%= period.end_date %></td>
        <td><%= period.duration %></td>
        <td><%= period.status %></td>
        <td><%= period.file_name %></td>
        <td><%= period.total %></td>
        <td><%= period.diesel_total %></td>
        <td><%= period.ledger_account %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_period_path(period), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      period_path(period),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Seguro que desea eliminarlo permanentemente de la base de datos?')) },
                      :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_period_path,
            :class => 'btn btn-default btn-primary' %>
