<%- model_class = Period -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:period_number) %>:</strong></dt>
  <dd><%= @period.period_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:beginning_date) %>:</strong></dt>
  <dd><%= @period.beginning_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
  <dd><%= @period.end_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:duration) %>:</strong></dt>
  <dd><%= @period.duration %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @period.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_name) %>:</strong></dt>
  <dd><%= @period.file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @period.total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:diesel_total) %>:</strong></dt>
  <dd><%= @period.diesel_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ledger_account) %>:</strong></dt>
  <dd><%= @period.ledger_account %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              periods_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_period_path(@period), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              period_path(@period),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Está seguro que desea eliminarlo permanentemente de la base de datos?')) },
              :class => 'btn btn-danger' %>
</div>
