<%= form_for @bus_entry, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :unit_id, 'ID de unidad', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :unit_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operator_id, 'ID de operador', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :operator_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shift_id, 'ID de turno', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :shift_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :laps, 'Vueltas', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :laps, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :average_time, 'Tiempo de recorrido', :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :average_time, :class => 'time_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :preferent_tickets, 'Boletos preferentes', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :preferent_tickets, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :adult_tickets, 'Boletos adultos', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :adult_tickets, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :feria_total_income, 'Total tarjeta feria', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :feria_total_income, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :feria_tickets, 'Boletos tarjeta feria', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :feria_tickets, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_preferent_fare, 'Tarifa de boletos preferntes', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_preferent_fare, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_adult_fare, 'Tarifa de boletos adultos', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_adult_fare, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_feria_fare, 'Tarifa de tarjeta feria', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :current_feria_fare, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_tickets, 'Boletos totales', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :total_tickets, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total_income, 'Efectivo total', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_income, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :average_income, 'Tiempo total', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :average_income, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :worked_hours, 'Horas trabajadas', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :worked_hours, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :extra_hours, 'Horas extra', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :extra_hours, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :operator_salary, 'Salario', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :operator_salary, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diesel_liters, 'Litros de diésel', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diesel_liters, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :diesel_price, 'Precio de diésel', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diesel_price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unit_expenses, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unit_expenses, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_expenses, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :other_expenses, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_expenses_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :other_expenses_description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Agregar', :class => 'btn btn-default btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bus_entries_path, :class => 'btn btn-default' %>
  </div>
<% end %>
