<%- model_class = Shift -%>
<div class="page-header">
  <h1> Turnos </h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> ID </th>
      <th> Per&iacute;odo </th>
      <th> Tipo </th>
      <th> Turno total </th>
      <th> Ganancias</th>
      <th> D&iacute;a </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= link_to shift.id, shift_path(shift) %></td>
        <td><%= shift.period_id %></td>
        <td><%= shift.type %></td>
        <td><%= shift.shift_total %></td>
        <td><%= shift.partner_earnings %></td>
        <td><%= shift.day %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_shift_path(shift), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      shift_path(shift),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-default btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_shift_path,
            :class => 'btn btn-default btn-primary' %>
